<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create QR</title>
</head>
<body>

<form name="myprofile" onsubmit="validateForm()" action="create" method="POST">
    name<input name="username" id="username" type="text">
    FB<input id="select_fb" name="select_fb" type="checkbox">
    IG<input id="select_ig" name="select_ig" type="checkbox">
    Mail<input id="select_mail" name="select_mail" type="checkbox">
    Phone<input id="select_phone" name="select_phone" type="checkbox">
    <button type="submit">CreateQR</button>
</form>

</body>
</html>