<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

<h1>CREATE USER</h1>
<form name="myprofile" onsubmit="validateForm()" action="createuser" method="POST">
    name<input name="username" id="username" type="text">
    FB<input id="fb" name="select_fb" type="text">
    IG<input id="ig" name="select_ig" type="text">
    Mail<input id="mail" name="select_mail" type="text">
    Phone<input id="phone" name="select_phone" type="text">
    <button type="submit">CreateQR</button>
</form>

</body>
</html>